.thumbnail img{
	width:100%;
}

.thumbnail .caption-full{
	padding : 9px;
}
.thumbnail{
	padding:0;
}
#only{
	width:650px;
	height:180px;
}
#del{
	display:inline;
}
#dele{
	display:inline;
}
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}